*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f7fb;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

:root {
  --var-one: something;
  --var-two: something;

  --color-primary: #55c57a;
  --color-primary-light: #7269ef;
  /*--color-primary-light: #ef69c2;*/
  --color-primary-dark: #28b485;

  --color-grey-light-1: #878a92;
  --color-grey-light-2: #e6ebf5;
  --color-grey-light-3: #f5f7fb;

  --color-grey-dark: #495057;
  --color-grey-dark-3: #343a40;
  --color-grey-dark-2: #7a7f9a;
  --color-grey-dark-4: #212529;

  --color-grey-purple: #f5f7fb;
  --color-grey-purple-2: #c2cee6;

  --color-white: #fff;
  --color-white-2: #f0eff5;
  --color-black: #000;

  --color-red-pink: #ef476f;
  --color-red-pink-light: rgba(239, 71, 111, 0.18);

  --color-online: #06d6a0;
  --color-away: #ffd166;

  --defult-font-size: 1.6rem;

  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-horizental: 6rem;

  --bs-blue: #7269ef;
  --bs-indigo: #564ab1;
  --bs-purple: #8e4aec;
  --bs-pink: #e83e8c;
  --bs-red: #ef476f;
  --bs-orange: #fc814a;
  --bs-yellow: #ffd166;
  --bs-green: #06d6a0;
  --bs-teal: #050505;
  --bs-cyan: #50a5f1;
  --bs-white: #fff;
  --bs-gray: #7a7f9a;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #f5f7fb;
  --bs-gray-300: #f0eff5;
  --bs-gray-400: #e6ebf5;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #7a7f9a;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #7269ef;
  --bs-secondary: #7a7f9a;
  --bs-success: #06d6a0;
  --bs-info: #50a5f1;
  --bs-warning: #ffd166;
  --bs-danger: #ef476f;
  --bs-dark: #343a40;
  --bs-primary-rgb: 114, 105, 239;
  --bs-secondary-rgb: 122, 127, 154;
  --bs-success-rgb: 6, 214, 160;
  --bs-info-rgb: 80, 165, 241;
  --bs-warning-rgb: 255, 209, 102;
  --bs-danger-rgb: 239, 71, 111;
  --bs-dark-rgb: 52, 58, 64;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-bg-rgb: 247, 247, 255;

  --bs-sidebar-bg: #fff;
  --bs-sidebar-menu-item-color: #878a92;
  --bs-sidebar-menu-item-active-color: #7269ef;
  --bs-sidebar-menu-item-active-bg: #f7f7ff;
  --bs-sidebar-sub-bg: #f5f7fb;
  --bs-chat-primary-bg: #7269ef;
  --bs-chat-secondary-bg: #f5f7fb;
  --bs-body-bg: #f7f7ff;
  --bs-body-color: #495057;
  --bs-body-color-rgb: 73, 80, 87;
  --bs-footer-bg: #fff;
  --bs-footer-color: #98a6ad;
  --bs-light: #e6ebf5;
  --bs-light-rgb: 230, 235, 245;
  --bs-dark: #212529;
  --bs-dark-rgb: 33, 37, 41;
  --bs-text-muted: #7a7f9a;
  --bs-link-color: #7269ef;
  --bs-link-hover-color: #7269ef;
  --bs-border-color: #f0eff5;
  --bs-dropdown-bg: #fff;
  --bs-dropdown-link-color: #212529;
  --bs-dropdown-link-hover-color: #1f2327;
  --bs-dropdown-link-hover-bg: #f8f9fa;
  --bs-dropdown-border-width: 0px;
  --bs-card-bg: #fff;
  --bs-card-cap-bg: #fff;
  --bs-card-logo-dark: block;
  --bs-card-logo-light: none;
  --bs-modal-bg: #fff;
  --bs-modal-content-bg: #fff;
  --bs-modal-content-border-color: #f0eff5;
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #f7f7ff;
  --bs-accordion-button-active-color: #675fd7;
  --bs-accordion-bg: #fff;
  --bs-accordion-button-bg: #f5f7fb;
  --bs-progress-bg: #f5f7fb;
  --bs-toast-background-color: hsla(0, 0%, 100%, 0.85);
  --bs-toast-border-color: rgba(0, 0, 0, 0.1);
  --bs-toast-header-border-color: rgba(0, 0, 0, 0.05);
  --bs-list-group-hover-bg: #f8f9fa;
  --bs-popover-bg: #fff;
  --bs-pagination-hover-bg: #f5f7fb;
  --bs-input-bg: #fff;
  --bs-input-group-addon-border-color: #e6ebf5;
  --bs-input-border: #e6ebf5;
  --bs-input-border-color: #e6ebf5;
  --bs-input-focus-border: #b9b4f7;
  --bs-input-disabled-bg: #f5f7fb;
  --bs-input-placeholder-color: #7a7f9a;
  --bs-input-group-addon-bg: #f5f7fb;
  --bs-input-check-border: var(--bs-input-border);
}
